In [1]:
import pandas as pd
import numpy as np

In [26]:
import scrapy

In [27]:
from scrapy.utils.response import open_in_browser

In [28]:
class PricesSpider(scrapy.Spider):
    name="prices"
    
    start_urls=["https://josaa.admissions.nic.in/applicant/SeatAllotmentResult/CurrentORCR.aspx"]
    
    def parse(self,response):
        open_in_browser(response)

In [29]:
df=pd.read_csv(r"D:\SEM6\LSTM\josaa\data_0.csv")

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11687 entries, 0 to 11686
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11687 non-null  int64
 1   Institute              11687 non-null  object
 2   Academic Program Name  11687 non-null  object
 3   Quota                  11687 non-null  object
 4   Seat Type              11687 non-null  object
 5   Gender                 11687 non-null  object
 6   Opening Rank           11687 non-null  object
 7   Closing Rank           11687 non-null  object
dtypes: int64(1), object(7)
memory usage: 730.6+ KB

In [32]:
df.head()

,Unnamed: 0,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9106,13018
1,1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18286,20788
2,2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1755,1975
3,3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3122,3308
4,4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,3573,4796