In [1]:
import pandas as pd

In [2]:
import pickle

In [68]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [11]:
df=pd.read_csv(r"D:\SEM6\LSTM\josaa\ALL\2016_round1.csv")

In [13]:
df['Institute'].value_counts()

Institute
National Institute of Technology, Rourkela                                                263
Indian Institute of Technology Kharagpur                                                  178
National Institute of Technology, Warangal                                                117
National Institute of Technology Raipur                                                   115
Indian Institute of Technology (BHU) Varanasi                                             112
                                                                                         ...
Indian Institute of Information Technology(IIIT) Kottayam                                   6
National Institute of Electronics and Information Technology, Aurangabad (Maharashtra)      6
Shri Mata Vaishno Devi University, Katra, Jammu & Kashmir                                   5
Indian Institute of Information Technology Lucknow                                          5
Indian Institute of Crop Processing Technology, Thanjavur, Tamilnadu                        5
Name: count, Length: 92, dtype: int64

In [17]:
for i in range(2016,2025):
    for j in range(1,7):
        print(f"========================================================\nyear : {i} , Round :{j}========================================================")
        df=pd.read_csv(f"D:/SEM6/LSTM/josaa/ALL/{i}_round{j}.csv")
        print(df.info())

========================================================
year : 2016 , Round :1========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4354 entries, 0 to 4353
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4354 non-null   int64
 1   Institute              4353 non-null   object
 2   Academic Program Name  4353 non-null   object
 3   Quota                  4353 non-null   object
 4   Seat Type              4353 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4353 non-null   float64
 7   Closing Rank           4353 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 272.3+ KB
None
========================================================
year : 2016 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4280 entries, 0 to 4279
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4280 non-null   int64
 1   Institute              4279 non-null   object
 2   Academic Program Name  4279 non-null   object
 3   Quota                  4279 non-null   object
 4   Seat Type              4279 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4279 non-null   float64
 7   Closing Rank           4279 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 267.6+ KB
None
========================================================
year : 2016 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4264 entries, 0 to 4263
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4264 non-null   int64
 1   Institute              4263 non-null   object
 2   Academic Program Name  4263 non-null   object
 3   Quota                  4263 non-null   object
 4   Seat Type              4263 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4263 non-null   float64
 7   Closing Rank           4263 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 266.6+ KB
None
========================================================
year : 2016 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4249 entries, 0 to 4248
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4249 non-null   int64
 1   Institute              4248 non-null   object
 2   Academic Program Name  4248 non-null   object
 3   Quota                  4248 non-null   object
 4   Seat Type              4248 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4248 non-null   float64
 7   Closing Rank           4248 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 265.7+ KB
None
========================================================
year : 2016 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4233 entries, 0 to 4232
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4233 non-null   int64
 1   Institute              4232 non-null   object
 2   Academic Program Name  4232 non-null   object
 3   Quota                  4232 non-null   object
 4   Seat Type              4232 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4232 non-null   float64
 7   Closing Rank           4232 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 264.7+ KB
None
========================================================
year : 2016 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4227 entries, 0 to 4226
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4227 non-null   int64
 1   Institute              4226 non-null   object
 2   Academic Program Name  4226 non-null   object
 3   Quota                  4226 non-null   object
 4   Seat Type              4226 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4226 non-null   float64
 7   Closing Rank           4226 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 264.3+ KB
None
========================================================
year : 2017 , Round :1========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4468 entries, 0 to 4467
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4468 non-null   int64
 1   Institute              4467 non-null   object
 2   Academic Program Name  4467 non-null   object
 3   Quota                  4467 non-null   object
 4   Seat Type              4467 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4467 non-null   float64
 7   Closing Rank           4467 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 279.4+ KB
None
========================================================
year : 2017 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4368 non-null   int64
 1   Institute              4367 non-null   object
 2   Academic Program Name  4367 non-null   object
 3   Quota                  4367 non-null   object
 4   Seat Type              4367 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4367 non-null   float64
 7   Closing Rank           4367 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 273.1+ KB
None
========================================================
year : 2017 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4339 entries, 0 to 4338
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4339 non-null   int64
 1   Institute              4338 non-null   object
 2   Academic Program Name  4338 non-null   object
 3   Quota                  4338 non-null   object
 4   Seat Type              4338 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4338 non-null   float64
 7   Closing Rank           4338 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 271.3+ KB
None
========================================================
year : 2017 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4292 entries, 0 to 4291
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4292 non-null   int64
 1   Institute              4291 non-null   object
 2   Academic Program Name  4291 non-null   object
 3   Quota                  4291 non-null   object
 4   Seat Type              4291 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4291 non-null   float64
 7   Closing Rank           4291 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 268.4+ KB
None
========================================================
year : 2017 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4258 entries, 0 to 4257
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4258 non-null   int64
 1   Institute              4257 non-null   object
 2   Academic Program Name  4257 non-null   object
 3   Quota                  4257 non-null   object
 4   Seat Type              4257 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4257 non-null   float64
 7   Closing Rank           4257 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 266.3+ KB
None
========================================================
year : 2017 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4244 entries, 0 to 4243
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4244 non-null   int64
 1   Institute              4243 non-null   object
 2   Academic Program Name  4243 non-null   object
 3   Quota                  4243 non-null   object
 4   Seat Type              4243 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4243 non-null   float64
 7   Closing Rank           4243 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 265.4+ KB
None
========================================================
year : 2018 , Round :1========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7155 entries, 0 to 7154
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             7155 non-null   int64
 1   Institute              7154 non-null   object
 2   Academic Program Name  7154 non-null   object
 3   Quota                  7154 non-null   object
 4   Seat Type              7154 non-null   object
 5   Gender                 7154 non-null   object
 6   Opening Rank           7154 non-null   float64
 7   Closing Rank           7154 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 447.3+ KB
None
========================================================
year : 2018 , Round :2========================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6927 entries, 0 to 6926
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6927 non-null   int64
 1   Institute              6926 non-null   object
 2   Academic Program Name  6926 non-null   object
 3   Quota                  6926 non-null   object
 4   Seat Type              6926 non-null   object
 5   Gender                 6926 non-null   object
 6   Opening Rank           6926 non-null   float64
 7   Closing Rank           6926 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 433.1+ KB
None
========================================================
year : 2018 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6807 entries, 0 to 6806
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6807 non-null   int64
 1   Institute              6806 non-null   object
 2   Academic Program Name  6806 non-null   object
 3   Quota                  6806 non-null   object
 4   Seat Type              6806 non-null   object
 5   Gender                 6806 non-null   object
 6   Opening Rank           6806 non-null   float64
 7   Closing Rank           6806 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 425.6+ KB
None
========================================================
year : 2018 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6766 entries, 0 to 6765
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6766 non-null   int64
 1   Institute              6765 non-null   object
 2   Academic Program Name  6765 non-null   object
 3   Quota                  6765 non-null   object
 4   Seat Type              6765 non-null   object
 5   Gender                 6765 non-null   object
 6   Opening Rank           6765 non-null   float64
 7   Closing Rank           6765 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 423.0+ KB
None
========================================================
year : 2018 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6755 entries, 0 to 6754
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6755 non-null   int64
 1   Institute              6754 non-null   object
 2   Academic Program Name  6754 non-null   object
 3   Quota                  6754 non-null   object
 4   Seat Type              6754 non-null   object
 5   Gender                 6754 non-null   object
 6   Opening Rank           6754 non-null   float64
 7   Closing Rank           6754 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 422.3+ KB
None
========================================================
year : 2018 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6747 entries, 0 to 6746
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6747 non-null   int64
 1   Institute              6746 non-null   object
 2   Academic Program Name  6746 non-null   object
 3   Quota                  6746 non-null   object
 4   Seat Type              6746 non-null   object
 5   Gender                 6746 non-null   object
 6   Opening Rank           6746 non-null   float64
 7   Closing Rank           6746 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 421.8+ KB
None
========================================================
year : 2019 , Round :1========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8745 entries, 0 to 8744
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8745 non-null   int64
 1   Institute              8744 non-null   object
 2   Academic Program Name  8744 non-null   object
 3   Quota                  8744 non-null   object
 4   Seat Type              8744 non-null   object
 5   Gender                 8744 non-null   object
 6   Opening Rank           8744 non-null   object
 7   Closing Rank           8744 non-null   object
dtypes: int64(1), object(7)
memory usage: 546.7+ KB
None
========================================================
year : 2019 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8471 entries, 0 to 8470
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8471 non-null   int64
 1   Institute              8470 non-null   object
 2   Academic Program Name  8470 non-null   object
 3   Quota                  8470 non-null   object
 4   Seat Type              8470 non-null   object
 5   Gender                 8470 non-null   object
 6   Opening Rank           8470 non-null   object
 7   Closing Rank           8470 non-null   object
dtypes: int64(1), object(7)
memory usage: 529.6+ KB
None
========================================================
year : 2019 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8353 entries, 0 to 8352
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8353 non-null   int64
 1   Institute              8352 non-null   object
 2   Academic Program Name  8352 non-null   object
 3   Quota                  8352 non-null   object
 4   Seat Type              8352 non-null   object
 5   Gender                 8352 non-null   object
 6   Opening Rank           8352 non-null   object
 7   Closing Rank           8352 non-null   object
dtypes: int64(1), object(7)
memory usage: 522.2+ KB
None
========================================================
year : 2019 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8314 entries, 0 to 8313
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8314 non-null   int64
 1   Institute              8313 non-null   object
 2   Academic Program Name  8313 non-null   object
 3   Quota                  8313 non-null   object
 4   Seat Type              8313 non-null   object
 5   Gender                 8313 non-null   object
 6   Opening Rank           8313 non-null   object
 7   Closing Rank           8313 non-null   object
dtypes: int64(1), object(7)
memory usage: 519.8+ KB
None
========================================================
year : 2019 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8301 entries, 0 to 8300
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8301 non-null   int64
 1   Institute              8300 non-null   object
 2   Academic Program Name  8300 non-null   object
 3   Quota                  8300 non-null   object
 4   Seat Type              8300 non-null   object
 5   Gender                 8300 non-null   object
 6   Opening Rank           8300 non-null   object
 7   Closing Rank           8300 non-null   object
dtypes: int64(1), object(7)
memory usage: 518.9+ KB
None
========================================================
year : 2019 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8296 entries, 0 to 8295
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8296 non-null   int64
 1   Institute              8295 non-null   object
 2   Academic Program Name  8295 non-null   object
 3   Quota                  8295 non-null   object
 4   Seat Type              8295 non-null   object
 5   Gender                 8295 non-null   object
 6   Opening Rank           8295 non-null   object
 7   Closing Rank           8295 non-null   object
dtypes: int64(1), object(7)
memory usage: 518.6+ KB
None
========================================================
year : 2020 , Round :1========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9338 entries, 0 to 9337
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9338 non-null   int64
 1   Institute              9337 non-null   object
 2   Academic Program Name  9337 non-null   object
 3   Quota                  9337 non-null   object
 4   Seat Type              9337 non-null   object
 5   Gender                 9337 non-null   object
 6   Opening Rank           9337 non-null   object
 7   Closing Rank           9337 non-null   object
dtypes: int64(1), object(7)
memory usage: 583.8+ KB
None
========================================================
year : 2020 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9138 entries, 0 to 9137
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9138 non-null   int64
 1   Institute              9137 non-null   object
 2   Academic Program Name  9137 non-null   object
 3   Quota                  9137 non-null   object
 4   Seat Type              9137 non-null   object
 5   Gender                 9137 non-null   object
 6   Opening Rank           9137 non-null   object
 7   Closing Rank           9137 non-null   object
dtypes: int64(1), object(7)
memory usage: 571.3+ KB
None
========================================================
year : 2020 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9069 entries, 0 to 9068
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9069 non-null   int64
 1   Institute              9068 non-null   object
 2   Academic Program Name  9068 non-null   object
 3   Quota                  9068 non-null   object
 4   Seat Type              9068 non-null   object
 5   Gender                 9068 non-null   object
 6   Opening Rank           9068 non-null   object
 7   Closing Rank           9068 non-null   object
dtypes: int64(1), object(7)
memory usage: 566.9+ KB
None
========================================================
year : 2020 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9045 entries, 0 to 9044
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9045 non-null   int64
 1   Institute              9044 non-null   object
 2   Academic Program Name  9044 non-null   object
 3   Quota                  9044 non-null   object
 4   Seat Type              9044 non-null   object
 5   Gender                 9044 non-null   object
 6   Opening Rank           9044 non-null   object
 7   Closing Rank           9044 non-null   object
dtypes: int64(1), object(7)
memory usage: 565.4+ KB
None
========================================================
year : 2020 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9033 entries, 0 to 9032
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9033 non-null   int64
 1   Institute              9032 non-null   object
 2   Academic Program Name  9032 non-null   object
 3   Quota                  9032 non-null   object
 4   Seat Type              9032 non-null   object
 5   Gender                 9032 non-null   object
 6   Opening Rank           9032 non-null   object
 7   Closing Rank           9032 non-null   object
dtypes: int64(1), object(7)
memory usage: 564.7+ KB
None
========================================================
year : 2020 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8991 entries, 0 to 8990
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8991 non-null   int64
 1   Institute              8990 non-null   object
 2   Academic Program Name  8990 non-null   object
 3   Quota                  8990 non-null   object
 4   Seat Type              8990 non-null   object
 5   Gender                 8990 non-null   object
 6   Opening Rank           8990 non-null   object
 7   Closing Rank           8990 non-null   object
dtypes: int64(1), object(7)
memory usage: 562.1+ KB
None
========================================================
year : 2021 , Round :1========================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9450 non-null   int64
 1   Institute              9449 non-null   object
 2   Academic Program Name  9449 non-null   object
 3   Quota                  9449 non-null   object
 4   Seat Type              9449 non-null   object
 5   Gender                 9449 non-null   object
 6   Opening Rank           9449 non-null   object
 7   Closing Rank           9449 non-null   object
dtypes: int64(1), object(7)
memory usage: 590.8+ KB
None
========================================================
year : 2021 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9268 entries, 0 to 9267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9268 non-null   int64
 1   Institute              9267 non-null   object
 2   Academic Program Name  9267 non-null   object
 3   Quota                  9267 non-null   object
 4   Seat Type              9267 non-null   object
 5   Gender                 9267 non-null   object
 6   Opening Rank           9267 non-null   object
 7   Closing Rank           9267 non-null   object
dtypes: int64(1), object(7)
memory usage: 579.4+ KB
None
========================================================
year : 2021 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9239 entries, 0 to 9238
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9239 non-null   int64
 1   Institute              9238 non-null   object
 2   Academic Program Name  9238 non-null   object
 3   Quota                  9238 non-null   object
 4   Seat Type              9238 non-null   object
 5   Gender                 9238 non-null   object
 6   Opening Rank           9238 non-null   object
 7   Closing Rank           9238 non-null   object
dtypes: int64(1), object(7)
memory usage: 577.6+ KB
None
========================================================
year : 2021 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9230 entries, 0 to 9229
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9230 non-null   int64
 1   Institute              9229 non-null   object
 2   Academic Program Name  9229 non-null   object
 3   Quota                  9229 non-null   object
 4   Seat Type              9229 non-null   object
 5   Gender                 9229 non-null   object
 6   Opening Rank           9229 non-null   object
 7   Closing Rank           9229 non-null   object
dtypes: int64(1), object(7)
memory usage: 577.0+ KB
None
========================================================
year : 2021 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9224 entries, 0 to 9223
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9224 non-null   int64
 1   Institute              9223 non-null   object
 2   Academic Program Name  9223 non-null   object
 3   Quota                  9223 non-null   object
 4   Seat Type              9223 non-null   object
 5   Gender                 9223 non-null   object
 6   Opening Rank           9223 non-null   object
 7   Closing Rank           9223 non-null   object
dtypes: int64(1), object(7)
memory usage: 576.6+ KB
None
========================================================
year : 2021 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9179 entries, 0 to 9178
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9179 non-null   int64
 1   Institute              9178 non-null   object
 2   Academic Program Name  9178 non-null   object
 3   Quota                  9178 non-null   object
 4   Seat Type              9178 non-null   object
 5   Gender                 9178 non-null   object
 6   Opening Rank           9178 non-null   object
 7   Closing Rank           9178 non-null   object
dtypes: int64(1), object(7)
memory usage: 573.8+ KB
None
========================================================
year : 2022 , Round :1========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10023 entries, 0 to 10022
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10023 non-null  int64
 1   Institute              10022 non-null  object
 2   Academic Program Name  10022 non-null  object
 3   Quota                  10022 non-null  object
 4   Seat Type              10022 non-null  object
 5   Gender                 10022 non-null  object
 6   Opening Rank           10022 non-null  object
 7   Closing Rank           10022 non-null  object
dtypes: int64(1), object(7)
memory usage: 626.6+ KB
None
========================================================
year : 2022 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9817 entries, 0 to 9816
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9817 non-null   int64
 1   Institute              9816 non-null   object
 2   Academic Program Name  9816 non-null   object
 3   Quota                  9816 non-null   object
 4   Seat Type              9816 non-null   object
 5   Gender                 9816 non-null   object
 6   Opening Rank           9816 non-null   object
 7   Closing Rank           9816 non-null   object
dtypes: int64(1), object(7)
memory usage: 613.7+ KB
None
========================================================
year : 2022 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9774 entries, 0 to 9773
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9774 non-null   int64
 1   Institute              9773 non-null   object
 2   Academic Program Name  9773 non-null   object
 3   Quota                  9773 non-null   object
 4   Seat Type              9773 non-null   object
 5   Gender                 9773 non-null   object
 6   Opening Rank           9773 non-null   object
 7   Closing Rank           9773 non-null   object
dtypes: int64(1), object(7)
memory usage: 611.0+ KB
None
========================================================
year : 2022 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9769 entries, 0 to 9768
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9769 non-null   int64
 1   Institute              9768 non-null   object
 2   Academic Program Name  9768 non-null   object
 3   Quota                  9768 non-null   object
 4   Seat Type              9768 non-null   object
 5   Gender                 9768 non-null   object
 6   Opening Rank           9768 non-null   object
 7   Closing Rank           9768 non-null   object
dtypes: int64(1), object(7)
memory usage: 610.7+ KB
None
========================================================
year : 2022 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9764 entries, 0 to 9763
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9764 non-null   int64
 1   Institute              9763 non-null   object
 2   Academic Program Name  9763 non-null   object
 3   Quota                  9763 non-null   object
 4   Seat Type              9763 non-null   object
 5   Gender                 9763 non-null   object
 6   Opening Rank           9763 non-null   object
 7   Closing Rank           9763 non-null   object
dtypes: int64(1), object(7)
memory usage: 610.4+ KB
None
========================================================
year : 2022 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9733 entries, 0 to 9732
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9733 non-null   int64
 1   Institute              9732 non-null   object
 2   Academic Program Name  9732 non-null   object
 3   Quota                  9732 non-null   object
 4   Seat Type              9732 non-null   object
 5   Gender                 9732 non-null   object
 6   Opening Rank           9732 non-null   object
 7   Closing Rank           9732 non-null   object
dtypes: int64(1), object(7)
memory usage: 608.4+ KB
None
========================================================
year : 2023 , Round :1========================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10843 entries, 0 to 10842
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10843 non-null  int64
 1   Institute              10842 non-null  object
 2   Academic Program Name  10842 non-null  object
 3   Quota                  10842 non-null  object
 4   Seat Type              10842 non-null  object
 5   Gender                 10842 non-null  object
 6   Opening Rank           10842 non-null  object
 7   Closing Rank           10842 non-null  object
dtypes: int64(1), object(7)
memory usage: 677.8+ KB
None
========================================================
year : 2023 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10475 entries, 0 to 10474
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10475 non-null  int64
 1   Institute              10474 non-null  object
 2   Academic Program Name  10474 non-null  object
 3   Quota                  10474 non-null  object
 4   Seat Type              10474 non-null  object
 5   Gender                 10474 non-null  object
 6   Opening Rank           10474 non-null  object
 7   Closing Rank           10474 non-null  object
dtypes: int64(1), object(7)
memory usage: 654.8+ KB
None
========================================================
year : 2023 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10404 entries, 0 to 10403
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10404 non-null  int64
 1   Institute              10403 non-null  object
 2   Academic Program Name  10403 non-null  object
 3   Quota                  10403 non-null  object
 4   Seat Type              10403 non-null  object
 5   Gender                 10403 non-null  object
 6   Opening Rank           10403 non-null  object
 7   Closing Rank           10403 non-null  object
dtypes: int64(1), object(7)
memory usage: 650.4+ KB
None
========================================================
year : 2023 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10392 entries, 0 to 10391
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10392 non-null  int64
 1   Institute              10391 non-null  object
 2   Academic Program Name  10391 non-null  object
 3   Quota                  10391 non-null  object
 4   Seat Type              10391 non-null  object
 5   Gender                 10391 non-null  object
 6   Opening Rank           10391 non-null  object
 7   Closing Rank           10391 non-null  object
dtypes: int64(1), object(7)
memory usage: 649.6+ KB
None
========================================================
year : 2023 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10385 entries, 0 to 10384
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10385 non-null  int64
 1   Institute              10384 non-null  object
 2   Academic Program Name  10384 non-null  object
 3   Quota                  10384 non-null  object
 4   Seat Type              10384 non-null  object
 5   Gender                 10384 non-null  object
 6   Opening Rank           10384 non-null  object
 7   Closing Rank           10384 non-null  object
dtypes: int64(1), object(7)
memory usage: 649.2+ KB
None
========================================================
year : 2023 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10366 entries, 0 to 10365
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10366 non-null  int64
 1   Institute              10365 non-null  object
 2   Academic Program Name  10365 non-null  object
 3   Quota                  10365 non-null  object
 4   Seat Type              10365 non-null  object
 5   Gender                 10365 non-null  object
 6   Opening Rank           10365 non-null  object
 7   Closing Rank           10365 non-null  object
dtypes: int64(1), object(7)
memory usage: 648.0+ KB
None
========================================================
year : 2024 , Round :1========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11687 entries, 0 to 11686
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11687 non-null  int64
 1   Institute              11687 non-null  object
 2   Academic Program Name  11687 non-null  object
 3   Quota                  11687 non-null  object
 4   Seat Type              11687 non-null  object
 5   Gender                 11687 non-null  object
 6   Opening Rank           11687 non-null  object
 7   Closing Rank           11687 non-null  object
dtypes: int64(1), object(7)
memory usage: 730.6+ KB
None
========================================================
year : 2024 , Round :2========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11377 entries, 0 to 11376
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11377 non-null  int64
 1   Institute              11377 non-null  object
 2   Academic Program Name  11377 non-null  object
 3   Quota                  11377 non-null  object
 4   Seat Type              11377 non-null  object
 5   Gender                 11377 non-null  object
 6   Opening Rank           11377 non-null  object
 7   Closing Rank           11377 non-null  object
dtypes: int64(1), object(7)
memory usage: 711.2+ KB
None
========================================================
year : 2024 , Round :3========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11307 entries, 0 to 11306
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11307 non-null  int64
 1   Institute              11307 non-null  object
 2   Academic Program Name  11307 non-null  object
 3   Quota                  11307 non-null  object
 4   Seat Type              11307 non-null  object
 5   Gender                 11307 non-null  object
 6   Opening Rank           11307 non-null  object
 7   Closing Rank           11307 non-null  object
dtypes: int64(1), object(7)
memory usage: 706.8+ KB
None
========================================================
year : 2024 , Round :4========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11281 entries, 0 to 11280
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11281 non-null  int64
 1   Institute              11281 non-null  object
 2   Academic Program Name  11281 non-null  object
 3   Quota                  11281 non-null  object
 4   Seat Type              11281 non-null  object
 5   Gender                 11281 non-null  object
 6   Opening Rank           11281 non-null  object
 7   Closing Rank           11281 non-null  object
dtypes: int64(1), object(7)
memory usage: 705.2+ KB
None
========================================================
year : 2024 , Round :5========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11261 entries, 0 to 11260
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11261 non-null  int64
 1   Institute              11261 non-null  object
 2   Academic Program Name  11261 non-null  object
 3   Quota                  11261 non-null  object
 4   Seat Type              11261 non-null  object
 5   Gender                 11261 non-null  object
 6   Opening Rank           11261 non-null  object
 7   Closing Rank           11261 non-null  object
dtypes: int64(1), object(7)
memory usage: 703.9+ KB
None
========================================================
year : 2024 , Round :6========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11261 entries, 0 to 11260
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11261 non-null  int64
 1   Institute              11261 non-null  object
 2   Academic Program Name  11261 non-null  object
 3   Quota                  11261 non-null  object
 4   Seat Type              11261 non-null  object
 5   Gender                 11261 non-null  object
 6   Opening Rank           11261 non-null  object
 7   Closing Rank           11261 non-null  object
dtypes: int64(1), object(7)
memory usage: 703.9+ KB
None

In [21]:
df["Seat Type"].value_counts()

Seat Type
OPEN             2287
SC               2043
OBC-NCL          2040
EWS              1865
ST               1763
OPEN (PwD)        673
OBC-NCL (PwD)     349
EWS (PwD)         114
SC (PwD)           97
ST (PwD)           30
Name: count, dtype: int64

In [22]:
import pandas as pd

# Initialize an empty list to store the DataFrames
all_data = []

for i in range(2016, 2025):
    for j in range(1, 7):
        
        file_path = f"D:/SEM6/LSTM/josaa/ALL/{i}_round{j}.csv"
        df = pd.read_csv(file_path)
        
        # Print DataFrame info
        print(df.info())
        
        # Add new columns
        df['year'] = i
        df['round'] = j
        
        # Append the DataFrame to the list
        all_data.append(df)

# Concatenate all DataFrames into one
final_df = pd.concat(all_data, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4354 entries, 0 to 4353
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4354 non-null   int64
 1   Institute              4353 non-null   object
 2   Academic Program Name  4353 non-null   object
 3   Quota                  4353 non-null   object
 4   Seat Type              4353 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4353 non-null   float64
 7   Closing Rank           4353 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 272.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4280 entries, 0 to 4279
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4280 non-null   int64
 1   Institute              4279 non-null   object
 2   Academic Program Name  4279 non-null   object
 3   Quota                  4279 non-null   object
 4   Seat Type              4279 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4279 non-null   float64
 7   Closing Rank           4279 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 267.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4264 entries, 0 to 4263
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4264 non-null   int64
 1   Institute              4263 non-null   object
 2   Academic Program Name  4263 non-null   object
 3   Quota                  4263 non-null   object
 4   Seat Type              4263 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4263 non-null   float64
 7   Closing Rank           4263 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 266.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4249 entries, 0 to 4248
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4249 non-null   int64
 1   Institute              4248 non-null   object
 2   Academic Program Name  4248 non-null   object
 3   Quota                  4248 non-null   object
 4   Seat Type              4248 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4248 non-null   float64
 7   Closing Rank           4248 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 265.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4233 entries, 0 to 4232
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4233 non-null   int64
 1   Institute              4232 non-null   object
 2   Academic Program Name  4232 non-null   object
 3   Quota                  4232 non-null   object
 4   Seat Type              4232 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4232 non-null   float64
 7   Closing Rank           4232 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 264.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4227 entries, 0 to 4226
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4227 non-null   int64
 1   Institute              4226 non-null   object
 2   Academic Program Name  4226 non-null   object
 3   Quota                  4226 non-null   object
 4   Seat Type              4226 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4226 non-null   float64
 7   Closing Rank           4226 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 264.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4468 entries, 0 to 4467
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4468 non-null   int64
 1   Institute              4467 non-null   object
 2   Academic Program Name  4467 non-null   object
 3   Quota                  4467 non-null   object
 4   Seat Type              4467 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4467 non-null   float64
 7   Closing Rank           4467 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 279.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4368 non-null   int64
 1   Institute              4367 non-null   object
 2   Academic Program Name  4367 non-null   object
 3   Quota                  4367 non-null   object
 4   Seat Type              4367 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4367 non-null   float64
 7   Closing Rank           4367 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 273.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4339 entries, 0 to 4338
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4339 non-null   int64
 1   Institute              4338 non-null   object
 2   Academic Program Name  4338 non-null   object
 3   Quota                  4338 non-null   object
 4   Seat Type              4338 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4338 non-null   float64
 7   Closing Rank           4338 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 271.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4292 entries, 0 to 4291
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4292 non-null   int64
 1   Institute              4291 non-null   object
 2   Academic Program Name  4291 non-null   object
 3   Quota                  4291 non-null   object
 4   Seat Type              4291 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4291 non-null   float64
 7   Closing Rank           4291 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 268.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4258 entries, 0 to 4257
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4258 non-null   int64
 1   Institute              4257 non-null   object
 2   Academic Program Name  4257 non-null   object
 3   Quota                  4257 non-null   object
 4   Seat Type              4257 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4257 non-null   float64
 7   Closing Rank           4257 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 266.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4244 entries, 0 to 4243
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4244 non-null   int64
 1   Institute              4243 non-null   object
 2   Academic Program Name  4243 non-null   object
 3   Quota                  4243 non-null   object
 4   Seat Type              4243 non-null   object
 5   Gender                 0 non-null      float64
 6   Opening Rank           4243 non-null   float64
 7   Closing Rank           4243 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 265.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7155 entries, 0 to 7154
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             7155 non-null   int64
 1   Institute              7154 non-null   object
 2   Academic Program Name  7154 non-null   object
 3   Quota                  7154 non-null   object
 4   Seat Type              7154 non-null   object
 5   Gender                 7154 non-null   object
 6   Opening Rank           7154 non-null   float64
 7   Closing Rank           7154 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 447.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6927 entries, 0 to 6926
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6927 non-null   int64
 1   Institute              6926 non-null   object
 2   Academic Program Name  6926 non-null   object
 3   Quota                  6926 non-null   object
 4   Seat Type              6926 non-null   object
 5   Gender                 6926 non-null   object
 6   Opening Rank           6926 non-null   float64
 7   Closing Rank           6926 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 433.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6807 entries, 0 to 6806
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6807 non-null   int64
 1   Institute              6806 non-null   object
 2   Academic Program Name  6806 non-null   object
 3   Quota                  6806 non-null   object
 4   Seat Type              6806 non-null   object
 5   Gender                 6806 non-null   object
 6   Opening Rank           6806 non-null   float64
 7   Closing Rank           6806 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 425.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6766 entries, 0 to 6765
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6766 non-null   int64
 1   Institute              6765 non-null   object
 2   Academic Program Name  6765 non-null   object
 3   Quota                  6765 non-null   object
 4   Seat Type              6765 non-null   object
 5   Gender                 6765 non-null   object
 6   Opening Rank           6765 non-null   float64
 7   Closing Rank           6765 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 423.0+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6755 entries, 0 to 6754
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6755 non-null   int64
 1   Institute              6754 non-null   object
 2   Academic Program Name  6754 non-null   object
 3   Quota                  6754 non-null   object
 4   Seat Type              6754 non-null   object
 5   Gender                 6754 non-null   object
 6   Opening Rank           6754 non-null   float64
 7   Closing Rank           6754 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 422.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6747 entries, 0 to 6746
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6747 non-null   int64
 1   Institute              6746 non-null   object
 2   Academic Program Name  6746 non-null   object
 3   Quota                  6746 non-null   object
 4   Seat Type              6746 non-null   object
 5   Gender                 6746 non-null   object
 6   Opening Rank           6746 non-null   float64
 7   Closing Rank           6746 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 421.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8745 entries, 0 to 8744
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8745 non-null   int64
 1   Institute              8744 non-null   object
 2   Academic Program Name  8744 non-null   object
 3   Quota                  8744 non-null   object
 4   Seat Type              8744 non-null   object
 5   Gender                 8744 non-null   object
 6   Opening Rank           8744 non-null   object
 7   Closing Rank           8744 non-null   object
dtypes: int64(1), object(7)
memory usage: 546.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8471 entries, 0 to 8470
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8471 non-null   int64
 1   Institute              8470 non-null   object
 2   Academic Program Name  8470 non-null   object
 3   Quota                  8470 non-null   object
 4   Seat Type              8470 non-null   object
 5   Gender                 8470 non-null   object
 6   Opening Rank           8470 non-null   object
 7   Closing Rank           8470 non-null   object
dtypes: int64(1), object(7)
memory usage: 529.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8353 entries, 0 to 8352
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8353 non-null   int64
 1   Institute              8352 non-null   object
 2   Academic Program Name  8352 non-null   object
 3   Quota                  8352 non-null   object
 4   Seat Type              8352 non-null   object
 5   Gender                 8352 non-null   object
 6   Opening Rank           8352 non-null   object
 7   Closing Rank           8352 non-null   object
dtypes: int64(1), object(7)
memory usage: 522.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8314 entries, 0 to 8313
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8314 non-null   int64
 1   Institute              8313 non-null   object
 2   Academic Program Name  8313 non-null   object
 3   Quota                  8313 non-null   object
 4   Seat Type              8313 non-null   object
 5   Gender                 8313 non-null   object
 6   Opening Rank           8313 non-null   object
 7   Closing Rank           8313 non-null   object
dtypes: int64(1), object(7)
memory usage: 519.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8301 entries, 0 to 8300
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8301 non-null   int64
 1   Institute              8300 non-null   object
 2   Academic Program Name  8300 non-null   object
 3   Quota                  8300 non-null   object
 4   Seat Type              8300 non-null   object
 5   Gender                 8300 non-null   object
 6   Opening Rank           8300 non-null   object
 7   Closing Rank           8300 non-null   object
dtypes: int64(1), object(7)
memory usage: 518.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8296 entries, 0 to 8295
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8296 non-null   int64
 1   Institute              8295 non-null   object
 2   Academic Program Name  8295 non-null   object
 3   Quota                  8295 non-null   object
 4   Seat Type              8295 non-null   object
 5   Gender                 8295 non-null   object
 6   Opening Rank           8295 non-null   object
 7   Closing Rank           8295 non-null   object
dtypes: int64(1), object(7)
memory usage: 518.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9338 entries, 0 to 9337
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9338 non-null   int64
 1   Institute              9337 non-null   object
 2   Academic Program Name  9337 non-null   object
 3   Quota                  9337 non-null   object
 4   Seat Type              9337 non-null   object
 5   Gender                 9337 non-null   object
 6   Opening Rank           9337 non-null   object
 7   Closing Rank           9337 non-null   object
dtypes: int64(1), object(7)
memory usage: 583.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9138 entries, 0 to 9137
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9138 non-null   int64
 1   Institute              9137 non-null   object
 2   Academic Program Name  9137 non-null   object
 3   Quota                  9137 non-null   object
 4   Seat Type              9137 non-null   object
 5   Gender                 9137 non-null   object
 6   Opening Rank           9137 non-null   object
 7   Closing Rank           9137 non-null   object
dtypes: int64(1), object(7)
memory usage: 571.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9069 entries, 0 to 9068
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9069 non-null   int64
 1   Institute              9068 non-null   object
 2   Academic Program Name  9068 non-null   object
 3   Quota                  9068 non-null   object
 4   Seat Type              9068 non-null   object
 5   Gender                 9068 non-null   object
 6   Opening Rank           9068 non-null   object
 7   Closing Rank           9068 non-null   object
dtypes: int64(1), object(7)
memory usage: 566.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9045 entries, 0 to 9044
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9045 non-null   int64
 1   Institute              9044 non-null   object
 2   Academic Program Name  9044 non-null   object
 3   Quota                  9044 non-null   object
 4   Seat Type              9044 non-null   object
 5   Gender                 9044 non-null   object
 6   Opening Rank           9044 non-null   object
 7   Closing Rank           9044 non-null   object
dtypes: int64(1), object(7)
memory usage: 565.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9033 entries, 0 to 9032
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9033 non-null   int64
 1   Institute              9032 non-null   object
 2   Academic Program Name  9032 non-null   object
 3   Quota                  9032 non-null   object
 4   Seat Type              9032 non-null   object
 5   Gender                 9032 non-null   object
 6   Opening Rank           9032 non-null   object
 7   Closing Rank           9032 non-null   object
dtypes: int64(1), object(7)
memory usage: 564.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8991 entries, 0 to 8990
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8991 non-null   int64
 1   Institute              8990 non-null   object
 2   Academic Program Name  8990 non-null   object
 3   Quota                  8990 non-null   object
 4   Seat Type              8990 non-null   object
 5   Gender                 8990 non-null   object
 6   Opening Rank           8990 non-null   object
 7   Closing Rank           8990 non-null   object
dtypes: int64(1), object(7)
memory usage: 562.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9450 non-null   int64
 1   Institute              9449 non-null   object
 2   Academic Program Name  9449 non-null   object
 3   Quota                  9449 non-null   object
 4   Seat Type              9449 non-null   object
 5   Gender                 9449 non-null   object
 6   Opening Rank           9449 non-null   object
 7   Closing Rank           9449 non-null   object
dtypes: int64(1), object(7)
memory usage: 590.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9268 entries, 0 to 9267
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9268 non-null   int64
 1   Institute              9267 non-null   object
 2   Academic Program Name  9267 non-null   object
 3   Quota                  9267 non-null   object
 4   Seat Type              9267 non-null   object
 5   Gender                 9267 non-null   object
 6   Opening Rank           9267 non-null   object
 7   Closing Rank           9267 non-null   object
dtypes: int64(1), object(7)
memory usage: 579.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9239 entries, 0 to 9238
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9239 non-null   int64
 1   Institute              9238 non-null   object
 2   Academic Program Name  9238 non-null   object
 3   Quota                  9238 non-null   object
 4   Seat Type              9238 non-null   object
 5   Gender                 9238 non-null   object
 6   Opening Rank           9238 non-null   object
 7   Closing Rank           9238 non-null   object
dtypes: int64(1), object(7)
memory usage: 577.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9230 entries, 0 to 9229
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9230 non-null   int64
 1   Institute              9229 non-null   object
 2   Academic Program Name  9229 non-null   object
 3   Quota                  9229 non-null   object
 4   Seat Type              9229 non-null   object
 5   Gender                 9229 non-null   object
 6   Opening Rank           9229 non-null   object
 7   Closing Rank           9229 non-null   object
dtypes: int64(1), object(7)
memory usage: 577.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9224 entries, 0 to 9223
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9224 non-null   int64
 1   Institute              9223 non-null   object
 2   Academic Program Name  9223 non-null   object
 3   Quota                  9223 non-null   object
 4   Seat Type              9223 non-null   object
 5   Gender                 9223 non-null   object
 6   Opening Rank           9223 non-null   object
 7   Closing Rank           9223 non-null   object
dtypes: int64(1), object(7)
memory usage: 576.6+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9179 entries, 0 to 9178
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9179 non-null   int64
 1   Institute              9178 non-null   object
 2   Academic Program Name  9178 non-null   object
 3   Quota                  9178 non-null   object
 4   Seat Type              9178 non-null   object
 5   Gender                 9178 non-null   object
 6   Opening Rank           9178 non-null   object
 7   Closing Rank           9178 non-null   object
dtypes: int64(1), object(7)
memory usage: 573.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10023 entries, 0 to 10022
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10023 non-null  int64
 1   Institute              10022 non-null  object
 2   Academic Program Name  10022 non-null  object
 3   Quota                  10022 non-null  object
 4   Seat Type              10022 non-null  object
 5   Gender                 10022 non-null  object
 6   Opening Rank           10022 non-null  object
 7   Closing Rank           10022 non-null  object
dtypes: int64(1), object(7)
memory usage: 626.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9817 entries, 0 to 9816
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9817 non-null   int64
 1   Institute              9816 non-null   object
 2   Academic Program Name  9816 non-null   object
 3   Quota                  9816 non-null   object
 4   Seat Type              9816 non-null   object
 5   Gender                 9816 non-null   object
 6   Opening Rank           9816 non-null   object
 7   Closing Rank           9816 non-null   object
dtypes: int64(1), object(7)
memory usage: 613.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9774 entries, 0 to 9773
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9774 non-null   int64
 1   Institute              9773 non-null   object
 2   Academic Program Name  9773 non-null   object
 3   Quota                  9773 non-null   object
 4   Seat Type              9773 non-null   object
 5   Gender                 9773 non-null   object
 6   Opening Rank           9773 non-null   object
 7   Closing Rank           9773 non-null   object
dtypes: int64(1), object(7)
memory usage: 611.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9769 entries, 0 to 9768
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9769 non-null   int64
 1   Institute              9768 non-null   object
 2   Academic Program Name  9768 non-null   object
 3   Quota                  9768 non-null   object
 4   Seat Type              9768 non-null   object
 5   Gender                 9768 non-null   object
 6   Opening Rank           9768 non-null   object
 7   Closing Rank           9768 non-null   object
dtypes: int64(1), object(7)
memory usage: 610.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9764 entries, 0 to 9763
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9764 non-null   int64
 1   Institute              9763 non-null   object
 2   Academic Program Name  9763 non-null   object
 3   Quota                  9763 non-null   object
 4   Seat Type              9763 non-null   object
 5   Gender                 9763 non-null   object
 6   Opening Rank           9763 non-null   object
 7   Closing Rank           9763 non-null   object
dtypes: int64(1), object(7)
memory usage: 610.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9733 entries, 0 to 9732
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9733 non-null   int64
 1   Institute              9732 non-null   object
 2   Academic Program Name  9732 non-null   object
 3   Quota                  9732 non-null   object
 4   Seat Type              9732 non-null   object
 5   Gender                 9732 non-null   object
 6   Opening Rank           9732 non-null   object
 7   Closing Rank           9732 non-null   object
dtypes: int64(1), object(7)
memory usage: 608.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10843 entries, 0 to 10842
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10843 non-null  int64
 1   Institute              10842 non-null  object
 2   Academic Program Name  10842 non-null  object
 3   Quota                  10842 non-null  object
 4   Seat Type              10842 non-null  object
 5   Gender                 10842 non-null  object
 6   Opening Rank           10842 non-null  object
 7   Closing Rank           10842 non-null  object
dtypes: int64(1), object(7)
memory usage: 677.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10475 entries, 0 to 10474
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10475 non-null  int64
 1   Institute              10474 non-null  object
 2   Academic Program Name  10474 non-null  object
 3   Quota                  10474 non-null  object
 4   Seat Type              10474 non-null  object
 5   Gender                 10474 non-null  object
 6   Opening Rank           10474 non-null  object
 7   Closing Rank           10474 non-null  object
dtypes: int64(1), object(7)
memory usage: 654.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10404 entries, 0 to 10403
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10404 non-null  int64
 1   Institute              10403 non-null  object
 2   Academic Program Name  10403 non-null  object
 3   Quota                  10403 non-null  object
 4   Seat Type              10403 non-null  object
 5   Gender                 10403 non-null  object
 6   Opening Rank           10403 non-null  object
 7   Closing Rank           10403 non-null  object
dtypes: int64(1), object(7)
memory usage: 650.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10392 entries, 0 to 10391
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10392 non-null  int64
 1   Institute              10391 non-null  object
 2   Academic Program Name  10391 non-null  object
 3   Quota                  10391 non-null  object
 4   Seat Type              10391 non-null  object
 5   Gender                 10391 non-null  object
 6   Opening Rank           10391 non-null  object
 7   Closing Rank           10391 non-null  object
dtypes: int64(1), object(7)
memory usage: 649.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10385 entries, 0 to 10384
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10385 non-null  int64
 1   Institute              10384 non-null  object
 2   Academic Program Name  10384 non-null  object
 3   Quota                  10384 non-null  object
 4   Seat Type              10384 non-null  object
 5   Gender                 10384 non-null  object
 6   Opening Rank           10384 non-null  object
 7   Closing Rank           10384 non-null  object
dtypes: int64(1), object(7)
memory usage: 649.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10366 entries, 0 to 10365
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10366 non-null  int64
 1   Institute              10365 non-null  object
 2   Academic Program Name  10365 non-null  object
 3   Quota                  10365 non-null  object
 4   Seat Type              10365 non-null  object
 5   Gender                 10365 non-null  object
 6   Opening Rank           10365 non-null  object
 7   Closing Rank           10365 non-null  object
dtypes: int64(1), object(7)
memory usage: 648.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11687 entries, 0 to 11686
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11687 non-null  int64
 1   Institute              11687 non-null  object
 2   Academic Program Name  11687 non-null  object
 3   Quota                  11687 non-null  object
 4   Seat Type              11687 non-null  object
 5   Gender                 11687 non-null  object
 6   Opening Rank           11687 non-null  object
 7   Closing Rank           11687 non-null  object
dtypes: int64(1), object(7)
memory usage: 730.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11377 entries, 0 to 11376
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11377 non-null  int64
 1   Institute              11377 non-null  object
 2   Academic Program Name  11377 non-null  object
 3   Quota                  11377 non-null  object
 4   Seat Type              11377 non-null  object
 5   Gender                 11377 non-null  object
 6   Opening Rank           11377 non-null  object
 7   Closing Rank           11377 non-null  object
dtypes: int64(1), object(7)
memory usage: 711.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11307 entries, 0 to 11306
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11307 non-null  int64
 1   Institute              11307 non-null  object
 2   Academic Program Name  11307 non-null  object
 3   Quota                  11307 non-null  object
 4   Seat Type              11307 non-null  object
 5   Gender                 11307 non-null  object
 6   Opening Rank           11307 non-null  object
 7   Closing Rank           11307 non-null  object
dtypes: int64(1), object(7)
memory usage: 706.8+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11281 entries, 0 to 11280
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11281 non-null  int64
 1   Institute              11281 non-null  object
 2   Academic Program Name  11281 non-null  object
 3   Quota                  11281 non-null  object
 4   Seat Type              11281 non-null  object
 5   Gender                 11281 non-null  object
 6   Opening Rank           11281 non-null  object
 7   Closing Rank           11281 non-null  object
dtypes: int64(1), object(7)
memory usage: 705.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11261 entries, 0 to 11260
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11261 non-null  int64
 1   Institute              11261 non-null  object
 2   Academic Program Name  11261 non-null  object
 3   Quota                  11261 non-null  object
 4   Seat Type              11261 non-null  object
 5   Gender                 11261 non-null  object
 6   Opening Rank           11261 non-null  object
 7   Closing Rank           11261 non-null  object
dtypes: int64(1), object(7)
memory usage: 703.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11261 entries, 0 to 11260
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             11261 non-null  int64
 1   Institute              11261 non-null  object
 2   Academic Program Name  11261 non-null  object
 3   Quota                  11261 non-null  object
 4   Seat Type              11261 non-null  object
 5   Gender                 11261 non-null  object
 6   Opening Rank           11261 non-null  object
 7   Closing Rank           11261 non-null  object
dtypes: int64(1), object(7)
memory usage: 703.9+ KB
None

In [23]:
final_df

,Unnamed: 0,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,year,round
0,0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,NaN,3533.0,5947.0,2016,1
1,1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,NaN,1829.0,2213.0,2016,1
2,2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,NaN,663.0,1023.0,2016,1
3,3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,NaN,331.0,357.0,2016,1
4,4,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OPEN,NaN,5408.0,6561.0,2016,1
...,...,...,...,...,...,...,...,...,...,...
443331,11256,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OPEN,Gender-Neutral,91148,111567,2024,6
443332,11257,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,EWS,Gender-Neutral,18667,18876,2024,6
443333,11258,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OBC-NCL,Gender-Neutral,37570,39002,2024,6
443334,11259,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,SC,Gender-Neutral,16473,17172,2024,6
443335,11260,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,ST,Gender-Neutral,6278,8144,2024,6

In [25]:
final_df["Quota"].value_counts()

Quota
AI    183803
OS    134461
HS    120127
JK      2199
GO      1426
AP       912
LA       360
Name: count, dtype: int64

In [26]:
final_df.to_csv('D:/SEM6/LSTM/josaa/ALL/combined_data.csv', index=False)

Final_DF v1

In [28]:
with open("all_data.pkl", 'wb') as f:
    pickle.dump(final_df, f)

In [49]:
final_df=pickle.load(open("all_data.pkl","rb"))

In [8]:
final_df["Quota"].value_counts()

Quota
AI    183803
OS    134461
HS    120127
JK      2199
GO      1426
AP       912
LA       360
Name: count, dtype: int64

In [9]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443336 entries, 0 to 443335
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             443336 non-null  int64
 1   Institute              443288 non-null  object
 2   Academic Program Name  443288 non-null  object
 3   Quota                  443288 non-null  object
 4   Seat Type              443288 non-null  object
 5   Gender                 391724 non-null  object
 6   Opening Rank           443288 non-null  object
 7   Closing Rank           443288 non-null  object
 8   year                   443336 non-null  int64
 9   round                  443336 non-null  int64
dtypes: int64(3), object(7)
memory usage: 33.8+ MB

In [11]:
final_df

,Unnamed: 0,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,year,round
0,0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,NaN,3533.0,5947.0,2016,1
1,1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,NaN,1829.0,2213.0,2016,1
2,2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,NaN,663.0,1023.0,2016,1
3,3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,NaN,331.0,357.0,2016,1
4,4,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OPEN,NaN,5408.0,6561.0,2016,1
...,...,...,...,...,...,...,...,...,...,...
443331,11256,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OPEN,Gender-Neutral,91148,111567,2024,6
443332,11257,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,EWS,Gender-Neutral,18667,18876,2024,6
443333,11258,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OBC-NCL,Gender-Neutral,37570,39002,2024,6
443334,11259,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,SC,Gender-Neutral,16473,17172,2024,6
443335,11260,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,ST,Gender-Neutral,6278,8144,2024,6

In [50]:
final_df["Institute"].isna().sum()

48

In [51]:
final_df=final_df.dropna(subset=["Institute"])

In [22]:
final_df

,Unnamed: 0,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,year,round
0,0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,NaN,3533.0,5947.0,2016,1
1,1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,NaN,1829.0,2213.0,2016,1
2,2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,NaN,663.0,1023.0,2016,1
3,3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,NaN,331.0,357.0,2016,1
4,4,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OPEN,NaN,5408.0,6561.0,2016,1
...,...,...,...,...,...,...,...,...,...,...
443331,11256,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OPEN,Gender-Neutral,91148,111567,2024,6
443332,11257,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,EWS,Gender-Neutral,18667,18876,2024,6
443333,11258,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OBC-NCL,Gender-Neutral,37570,39002,2024,6
443334,11259,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,SC,Gender-Neutral,16473,17172,2024,6
443335,11260,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,ST,Gender-Neutral,6278,8144,2024,6

In [52]:
final_df["Gender"].value_counts()

Gender
Gender-Neutral                           245724
Female-only (including Supernumerary)    146000
Name: count, dtype: int64

In [53]:
final_df["Gender"]=final_df["Gender"].fillna("Neutral")

In [54]:
final_df["Gender"].value_counts()

Gender
Gender-Neutral                           245724
Female-only (including Supernumerary)    146000
Neutral                                   51564
Name: count, dtype: int64

In [55]:

def fun(row):
    if "Female" in row:
        return "Female"
    else:
        return "Neutral"
    

final_df["Gender"]=final_df["Gender"].apply(fun)

In [56]:
final_df["Gender"].value_counts()

Gender
Neutral    297288
Female     146000
Name: count, dtype: int64

In [6]:
final_df=final_df.iloc[:,1:]

Data Preprocess 1

In [8]:
with open("data_v1.pkl","wb") as f:
    pickle.dump(final_df,f)

In [9]:
final_df=pickle.load(open("data_v1.pkl","rb"))

In [11]:
final_df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,year,round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Neutral,3533.0,5947.0,2016,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Neutral,1829.0,2213.0,2016,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Neutral,663.0,1023.0,2016,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Neutral,331.0,357.0,2016,1
4,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OPEN,Neutral,5408.0,6561.0,2016,1
...,...,...,...,...,...,...,...,...,...
443331,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OPEN,Neutral,91148,111567,2024,6
443332,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,EWS,Neutral,18667,18876,2024,6
443333,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,OBC-NCL,Neutral,37570,39002,2024,6
443334,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,SC,Neutral,16473,17172,2024,6
443335,CU Jharkhand,Integrated B. Tech.- M. Tech in Metallurgical ...,AI,ST,Neutral,6278,8144,2024,6

In [12]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 443288 entries, 0 to 443335
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Institute              443288 non-null  object
 1   Academic Program Name  443288 non-null  object
 2   Quota                  443288 non-null  object
 3   Seat Type              443288 non-null  object
 4   Gender                 443288 non-null  object
 5   Opening Rank           443288 non-null  object
 6   Closing Rank           443288 non-null  object
 7   year                   443288 non-null  int64
 8   round                  443288 non-null  int64
dtypes: int64(2), object(7)
memory usage: 33.8+ MB

In [34]:
def clean_rank(value):
    try:
        return int(float(value))
    except ValueError:
        return int(value[:-1]) if value[:-1].isdigit() else np.nan

In [35]:
final_df['Opening Rank'] = final_df['Opening Rank'].apply(clean_rank)

In [42]:
final_df['Closing Rank'] = final_df['Closing Rank'].apply(clean_rank)

In [44]:
final_df["Closing Rank"].isnull().sum()

0

In [77]:
X = final_df[['Opening Rank', 'Gender', 'Seat Type']]
y = final_df[['Institute', 'round']]


categorical_features = ['Gender', 'Seat Type']
numeric_features = ['Opening Rank']

In [78]:
le_institute = LabelEncoder()
final_df['Institute'] = le_institute.fit_transform(final_df['Institute'])

In [79]:

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(), categorical_features)
    ])

In [125]:
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', MultiOutputClassifier(RandomForestClassifier(n_estimators=50, random_state=42)))
])

In [126]:
train_data = final_df[final_df['year'] < final_df['year'].max()]
test_data = final_df[final_df['year'] == final_df['year'].max()]

In [127]:
X_train = train_data[['Opening Rank', 'Gender', 'Seat Type']]
y_train = train_data[['Institute', 'round']]
X_test = test_data[['Opening Rank', 'Gender', 'Seat Type']]
y_test = test_data[['Institute', 'round']]

In [128]:
model.fit(X_train, y_train)

MemoryError: could not allocate 68157440 bytes

In [89]:
from sklearn.metrics import accuracy_score, classification_report

y_pred = model.predict(X_test)

In [90]:
from joblib import dump, load

# Save the trained model to a file using joblib
dump(model, 'jee_model.joblib')

['jee_model.joblib']

In [91]:
from sklearn.metrics import accuracy_score, classification_report

for target in y_test.columns:
    print(f"Results for {target}:")
    print(classification_report(y_test[target], y_pred[target]))

Results for Institute:

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [92]:
def get_top_n_predictions(model, X, n=5):
    probas = model.predict_proba(X)
    top_n_predictions = []

    for i in range(X.shape[0]):
        preds = {}
        for j, target in enumerate(y_train.columns):
            top_n_indices = np.argsort(probas[j][i])[::-1][:n]
            top_n_preds = [model.classes_[j][index] for index in top_n_indices]
            preds[target] = top_n_preds
        top_n_predictions.append(preds)
    
    return top_n_predictions

In [94]:
top_n_predictions = get_top_n_predictions(model, X_test, n=5)

# Print top-5 predictions for the first test sample
print(top_n_predictions[0])

# Decode the 'Institute' predictions back to the original labels
decoded_predictions = [le_institute.inverse_transform(pred['Institute']) for pred in top_n_predictions]

# Print the decoded predictions for the first test sample
print(decoded_predictions[0])

{'Institute': [3, 104, 81, 54, 133], 'round': [3, 1, 4, 6, 5]}
[  3 104  81  54 133]

In [95]:
decoded_predictions = [le_institute.inverse_transform(pred['Institute']) for pred in top_n_predictions]

# Print the decoded predictions for the first test sample
print(decoded_predictions[0])

[  3 104  81  54 133]

In [106]:
top_n_predictions

[{'Institute': [3, 104, 81, 54, 133], 'round': [3, 1, 4, 6, 5]},
 {'Institute': [67, 11, 112, 44, 48], 'round': [6, 1, 2, 3, 4]},
 {'Institute': [48, 56, 133, 50, 37], 'round': [5, 4, 2, 3, 6]},
 {'Institute': [61, 69, 65, 43, 48], 'round': [2, 4, 6, 5, 3]},
 {'Institute': [103, 67, 49, 36, 37], 'round': [3, 5, 1, 6, 2]},
 {'Institute': [51, 70, 112, 43, 48], 'round': [6, 3, 5, 4, 2]},
 {'Institute': [122, 51, 63, 42, 47], 'round': [4, 2, 5, 3, 1]},
 {'Institute': [54, 67, 65, 43, 48], 'round': [2, 3, 6, 1, 5]},
 {'Institute': [59, 81, 111, 133, 43], 'round': [1, 6, 4, 2, 3]},
 {'Institute': [132, 108, 11, 44, 48], 'round': [3, 2, 6, 5, 1]},
 {'Institute': [61, 114, 94, 43, 48], 'round': [2, 4, 3, 1, 5]},
 {'Institute': [64, 114, 42, 48, 47], 'round': [4, 6, 2, 1, 5]},
 {'Institute': [63, 133, 50, 37, 38], 'round': [4, 6, 2, 5, 3]},
 {'Institute': [132, 99, 1, 2, 37], 'round': [5, 4, 2, 3, 6]},
 {'Institute': [116, 94, 81, 43, 48], 'round': [1, 6, 3, 5, 4]},
 {'Institute': [82, 133, 50, 37, 38], 'round': [3, 4, 5, 2, 6]},
 {'Institute': [57, 84, 133, 37, 38], 'round': [5, 4, 2, 3, 6]},
 {'Institute': [48, 63, 81, 49, 116], 'round': [1, 4, 2, 5, 3]},
 {'Institute': [68, 57, 50, 37, 38], 'round': [4, 5, 6, 3, 2]},
 {'Institute': [58, 48, 133, 50, 37], 'round': [5, 2, 4, 1, 3]},
 {'Institute': [114, 99, 111, 35, 36], 'round': [1, 4, 6, 3, 5]},
 {'Institute': [65, 132, 63, 68, 43], 'round': [1, 2, 3, 6, 4]},
 {'Institute': [48, 133, 35, 37, 38], 'round': [4, 6, 5, 2, 1]},
 {'Institute': [31, 19, 48, 49, 133], 'round': [1, 2, 6, 3, 5]},
 {'Institute': [82, 56, 1, 48, 43], 'round': [1, 6, 3, 2, 4]},
 {'Institute': [99, 11, 19, 63, 49], 'round': [5, 1, 2, 6, 4]},
 {'Institute': [51, 82, 50, 37, 38], 'round': [5, 3, 2, 4, 1]},
 {'Institute': [104, 84, 114, 42, 47], 'round': [5, 2, 4, 3, 1]},
 {'Institute': [57, 133, 50, 37, 38], 'round': [1, 5, 6, 2, 3]},
 {'Institute': [68, 35, 37, 38, 39], 'round': [1, 4, 3, 2, 5]},
 {'Institute': [53, 95, 133, 49, 37], 'round': [2, 4, 3, 5, 6]},
 {'Institute': [66, 106, 49, 36, 37], 'round': [4, 3, 5, 2, 6]},
 {'Institute': [49, 133, 35, 37, 38], 'round': [5, 2, 3, 4, 6]},
 {'Institute': [51, 49, 35, 37, 38], 'round': [1, 4, 5, 2, 6]},
 {'Institute': [63, 49, 82, 43, 48], 'round': [2, 1, 3, 4, 6]},
 {'Institute': [52, 133, 50, 37, 38], 'round': [5, 4, 6, 2, 1]},
 {'Institute': [52, 62, 111, 48, 63], 'round': [1, 2, 3, 4, 5]},
 {'Institute': [116, 49, 132, 57, 51], 'round': [1, 6, 2, 4, 5]},
 {'Institute': [64, 133, 50, 37, 38], 'round': [2, 5, 6, 1, 4]},
 {'Institute': [65, 48, 133, 50, 37], 'round': [1, 2, 4, 5, 6]},
 {'Institute': [68, 35, 37, 38, 39], 'round': [6, 4, 3, 2, 5]},
 {'Institute': [114, 122, 53, 62, 48], 'round': [4, 1, 5, 2, 3]},
 {'Institute': [66, 82, 43, 48, 47], 'round': [2, 4, 1, 5, 3]},
 {'Institute': [52, 116, 53, 43, 47], 'round': [5, 3, 4, 1, 6]},
 {'Institute': [58, 133, 50, 37, 38], 'round': [2, 1, 6, 5, 3]},
 {'Institute': [70, 33, 67, 49, 37], 'round': [1, 2, 3, 4, 5]},
 {'Institute': [49, 133, 35, 37, 38], 'round': [6, 5, 2, 3, 4]},
 {'Institute': [59, 67, 84, 37, 38], 'round': [1, 3, 5, 2, 4]},
 {'Institute': [84, 133, 35, 37, 38], 'round': [4, 6, 3, 5, 2]},
 {'Institute': [48, 60, 133, 50, 37], 'round': [3, 5, 4, 1, 2]},
 {'Institute': [81, 111, 31, 133, 43], 'round': [4, 1, 5, 3, 2]},
 {'Institute': [31, 61, 133, 43, 48], 'round': [3, 5, 2, 4, 6]},
 {'Institute': [19, 84, 93, 133, 38], 'round': [6, 4, 5, 3, 2]},
 {'Institute': [63, 108, 19, 84, 38], 'round': [6, 3, 4, 2, 5]},
 {'Institute': [50, 133, 35, 37, 38], 'round': [3, 2, 6, 4, 5]},
 {'Institute': [53, 62, 96, 61, 132], 'round': [3, 1, 6, 5, 4]},
 {'Institute': [94, 104, 48, 107, 65], 'round': [6, 4, 3, 2, 5]},
 {'Institute': [107, 124, 108, 42, 46], 'round': [6, 5, 3, 2, 4]},
 {'Institute': [68, 57, 50, 37, 38], 'round': [3, 2, 4, 1, 6]},
 {'Institute': [116, 50, 36, 37, 38], 'round': [6, 5, 4, 2, 3]},
 {'Institute': [82, 94, 19, 38, 39], 'round': [1, 6, 4, 2, 3]},
 {'Institute': [51, 35, 37, 38, 39], 'round': [5, 2, 6, 3, 1]},
 {'Institute': [84, 68, 116, 51, 37], 'round': [6, 4, 3, 1, 2]},
 {'Institute': [104, 133, 49, 36, 37], 'round': [4, 1, 3, 5, 6]},
 {'Institute': [3, 82, 103, 43, 48], 'round': [6, 1, 3, 2, 5]},
 {'Institute': [11, 98, 43, 48, 47], 'round': [1, 2, 3, 4, 5]},
 {'Institute': [81, 102, 84, 19, 48], 'round': [1, 6, 4, 2, 3]},
 {'Institute': [46, 133, 35, 37, 38], 'round': [3, 4, 6, 5, 2]},
 {'Institute': [84, 82, 50, 37, 38], 'round': [1, 4, 3, 2, 6]},
 {'Institute': [81, 68, 133, 43, 48], 'round': [3, 6, 4, 5, 2]},
 {'Institute': [11, 133, 44, 49, 48], 'round': [2, 3, 5, 6, 4]},
 {'Institute': [11, 133, 44, 49, 48], 'round': [6, 4, 5, 3, 2]},
 {'Institute': [111, 34, 48, 43, 47], 'round': [5, 3, 4, 2, 6]},
 {'Institute': [53, 133, 50, 37, 38], 'round': [5, 2, 6, 4, 3]},
 {'Institute': [81, 63, 133, 43, 48], 'round': [6, 3, 1, 4, 5]},
 {'Institute': [102, 63, 53, 133, 42], 'round': [2, 1, 3, 5, 6]},
 {'Institute': [53, 128, 57, 68, 99], 'round': [1, 4, 3, 2, 6]},
 {'Institute': [98, 111, 43, 48, 47], 'round': [2, 3, 4, 1, 6]},
 {'Institute': [63, 102, 52, 133, 42], 'round': [2, 1, 4, 3, 5]},
 {'Institute': [64, 98, 65, 57, 63], 'round': [5, 4, 1, 2, 3]},
 {'Institute': [52, 99, 43, 48, 47], 'round': [2, 3, 4, 5, 1]},
 {'Institute': [64, 51, 50, 37, 38], 'round': [3, 4, 2, 1, 5]},
 {'Institute': [52, 53, 48, 62, 82], 'round': [1, 5, 2, 3, 6]},
 {'Institute': [48, 19, 52, 133, 44], 'round': [2, 5, 4, 6, 1]},
 {'Institute': [63, 133, 50, 37, 38], 'round': [1, 2, 5, 6, 4]},
 {'Institute': [64, 114, 128, 133, 43], 'round': [2, 6, 5, 4, 3]},
 {'Institute': [55, 53, 49, 69, 133], 'round': [5, 4, 1, 6, 2]},
 {'Institute': [57, 82, 133, 48, 47], 'round': [4, 5, 3, 2, 6]},
 {'Institute': [57, 58, 133, 48, 47], 'round': [1, 6, 3, 5, 2]},
 {'Institute': [116, 132, 63, 70, 96], 'round': [1, 6, 4, 2, 3]},
 {'Institute': [49, 52, 133, 50, 37], 'round': [2, 1, 3, 5, 4]},
 {'Institute': [63, 69, 50, 133, 43], 'round': [5, 6, 2, 4, 3]},
 {'Institute': [102, 99, 49, 36, 37], 'round': [2, 6, 3, 4, 5]},
 {'Institute': [98, 81, 43, 48, 47], 'round': [4, 3, 2, 1, 5]},
 {'Institute': [57, 99, 48, 47, 46], 'round': [6, 2, 4, 5, 3]},
 {'Institute': [69, 133, 50, 37, 38], 'round': [5, 4, 2, 6, 3]},
 {'Institute': [58, 53, 81, 124, 57], 'round': [2, 4, 6, 1, 3]},
 {'Institute': [64, 133, 50, 37, 38], 'round': [5, 6, 4, 2, 3]},
 {'Institute': [68, 35, 37, 38, 39], 'round': [5, 2, 3, 6, 4]},
 {'Institute': [59, 63, 66, 48, 67], 'round': [4, 1, 5, 3, 6]},
 {'Institute': [114, 133, 49, 36, 37], 'round': [1, 5, 2, 4, 6]},
 {'Institute': [81, 133, 50, 37, 38], 'round': [6, 4, 3, 5, 2]},
 {'Institute': [70, 58, 133, 48, 47], 'round': [2, 3, 6, 1, 5]},
 {'Institute': [82, 84, 64, 99, 45], 'round': [1, 6, 3, 5, 4]},
 {'Institute': [48, 114, 132, 50, 37], 'round': [6, 2, 4, 3, 5]},
 {'Institute': [62, 69, 133, 43, 48], 'round': [3, 6, 2, 1, 4]},
 {'Institute': [61, 69, 53, 57, 128], 'round': [1, 2, 5, 6, 3]},
 {'Institute': [63, 52, 99, 64, 133], 'round': [6, 3, 2, 4, 5]},
 {'Institute': [49, 62, 133, 50, 37], 'round': [6, 3, 5, 1, 2]},
 {'Institute': [59, 81, 132, 82, 58], 'round': [6, 5, 2, 4, 3]},
 {'Institute': [52, 133, 50, 37, 38], 'round': [2, 4, 6, 5, 3]},
 {'Institute': [69, 51, 50, 37, 38], 'round': [6, 3, 2, 5, 4]},
 {'Institute': [48, 63, 133, 50, 37], 'round': [2, 5, 1, 4, 3]},
 {'Institute': [48, 82, 132, 53, 62], 'round': [5, 6, 1, 2, 3]},
 {'Institute': [68, 45, 51, 107, 48], 'round': [1, 5, 3, 6, 4]},
 {'Institute': [132, 11, 31, 133, 44], 'round': [1, 4, 5, 3, 2]},
 {'Institute': [132, 63, 124, 38, 37], 'round': [2, 4, 1, 3, 5]},
 {'Institute': [49, 133, 35, 37, 38], 'round': [4, 2, 5, 6, 3]},
 {'Institute': [31, 48, 133, 50, 37], 'round': [2, 4, 5, 3, 6]},
 {'Institute': [63, 49, 69, 43, 48], 'round': [2, 5, 1, 3, 4]},
 {'Institute': [60, 106, 50, 63, 81], 'round': [4, 3, 5, 6, 2]},
 {'Institute': [55, 53, 133, 44, 48], 'round': [5, 2, 1, 3, 4]},
 {'Institute': [111, 11, 133, 44, 48], 'round': [1, 3, 2, 6, 5]},
 {'Institute': [124, 42, 48, 47, 46], 'round': [1, 4, 2, 5, 3]},
 {'Institute': [96, 19, 58, 63, 84], 'round': [4, 6, 2, 5, 3]},
 {'Institute': [53, 64, 133, 43, 48], 'round': [4, 3, 2, 5, 6]},
 {'Institute': [116, 124, 111, 133, 43], 'round': [1, 2, 6, 4, 5]},
 {'Institute': [108, 133, 49, 36, 37], 'round': [6, 1, 2, 4, 5]},
 {'Institute': [11, 53, 45, 99, 82], 'round': [1, 2, 3, 5, 4]},
 {'Institute': [64, 133, 50, 37, 38], 'round': [2, 6, 5, 3, 4]},
 {'Institute': [54, 133, 50, 37, 38], 'round': [1, 3, 6, 4, 2]},
 {'Institute': [84, 51, 61, 52, 67], 'round': [4, 2, 3, 6, 5]},
 {'Institute': [84, 96, 133, 49, 37], 'round': [1, 3, 6, 2, 4]},
 {'Institute': [57, 133, 50, 37, 38], 'round': [6, 5, 2, 3, 1]},
 {'Institute': [126, 99, 53, 48, 111], 'round': [1, 6, 2, 3, 5]},
 {'Institute': [51, 35, 37, 38, 39], 'round': [1, 3, 6, 4, 5]},
 {'Institute': [52, 114, 43, 48, 47], 'round': [1, 4, 3, 5, 2]},
 {'Institute': [52, 62, 133, 43, 48], 'round': [1, 5, 3, 6, 2]},
 {'Institute': [52, 64, 57, 55, 133], 'round': [2, 3, 6, 1, 5]},
 {'Institute': [62, 52, 133, 43, 48], 'round': [4, 3, 6, 1, 5]},
 {'Institute': [53, 133, 50, 37, 38], 'round': [6, 1, 5, 2, 4]},
 {'Institute': [81, 132, 52, 64, 63], 'round': [1, 4, 5, 3, 2]},
 {'Institute': [53, 62, 64, 63, 69], 'round': [1, 5, 4, 6, 3]},
 {'Institute': [52, 133, 50, 37, 38], 'round': [4, 1, 2, 5, 6]},
 {'Institute': [94, 64, 52, 133, 43], 'round': [2, 3, 5, 4, 1]},
 {'Institute': [52, 62, 59, 63, 133], 'round': [3, 5, 2, 4, 6]},
 {'Institute': [53, 133, 50, 37, 38], 'round': [2, 4, 5, 6, 1]},
 {'Institute': [52, 133, 50, 37, 38], 'round': [5, 1, 2, 6, 3]},
 {'Institute': [114, 68, 53, 94, 63], 'round': [4, 6, 5, 3, 1]},
 {'Institute': [52, 64, 53, 68, 62], 'round': [1, 6, 4, 2, 5]},
 {'Institute': [52, 127, 53, 68, 63], 'round': [1, 3, 2, 5, 6]},
 {'Institute': [64, 52, 133, 43, 48], 'round': [6, 3, 1, 4, 5]},
 {'Institute': [52, 53, 127, 59, 48], 'round': [1, 2, 3, 4, 5]},
 {'Institute': [52, 133, 50, 37, 38], 'round': [2, 6, 1, 3, 4]},
 {'Institute': [102, 116, 42, 48, 47], 'round': [5, 4, 6, 3, 1]},
 {'Institute': [49, 63, 52, 48, 99], 'round': [2, 1, 6, 5, 4]},
 {'Institute': [53, 64, 114, 133, 43], 'round': [4, 3, 2, 5, 6]},
 {'Institute': [64, 67, 50, 37, 38], 'round': [3, 2, 4, 5, 1]},
 {'Institute': [114, 68, 57, 82, 43], 'round': [1, 3, 6, 4, 2]},
 {'Institute': [84, 133, 35, 37, 38], 'round': [3, 2, 1, 4, 6]},
 {'Institute': [83, 51, 94, 128, 133], 'round': [1, 6, 2, 3, 4]},
 {'Institute': [63, 68, 50, 37, 38], 'round': [4, 2, 1, 5, 6]},
 {'Institute': [52, 62, 58, 81, 83], 'round': [1, 6, 2, 3, 5]},
 {'Institute': [52, 63, 62, 56, 50], 'round': [1, 4, 2, 5, 6]},
 {'Institute': [53, 133, 50, 37, 38], 'round': [2, 6, 5, 4, 3]},
 {'Institute': [63, 133, 50, 37, 38], 'round': [3, 5, 6, 1, 4]},
 {'Institute': [63, 58, 52, 62, 57], 'round': [3, 4, 5, 2, 6]},
 {'Institute': [53, 133, 50, 37, 38], 'round': [5, 1, 6, 3, 2]},
 {'Institute': [126, 82, 133, 44, 49], 'round': [1, 2, 4, 5, 6]},
 {'Institute': [52, 133, 50, 37, 38], 'round': [5, 3, 4, 1, 6]},
 {'Institute': [116, 51, 81, 49, 62], 'round': [5, 2, 4, 3, 6]},
 {'Institute': [128, 68, 133, 43, 48], 'round': [1, 3, 4, 2, 6]},
 {'Institute': [114, 102, 42, 48, 47], 'round': [2, 4, 1, 6, 3]},
 {'Institute': [53, 114, 64, 68, 111], 'round': [1, 5, 4, 2, 6]},
 {'Institute': [53, 64, 128, 19, 114], 'round': [1, 3, 2, 5, 4]},
 {'Institute': [82, 68, 94, 43, 48], 'round': [2, 6, 1, 3, 5]},
 {'Institute': [116, 63, 52, 82, 38], 'round': [1, 6, 4, 3, 5]},
 {'Institute': [63, 116, 127, 81, 42], 'round': [1, 3, 4, 2, 6]},
 {'Institute': [66, 65, 50, 37, 38], 'round': [3, 5, 4, 2, 1]},
 {'Institute': [132, 94, 82, 111, 43], 'round': [1, 6, 3, 4, 2]},
 {'Institute': [64, 133, 50, 37, 38], 'round': [5, 1, 6, 2, 4]},
 {'Institute': [53, 65, 57, 52, 64], 'round': [1, 3, 6, 5, 4]},
 {'Institute': [82, 57, 133, 48, 47], 'round': [2, 6, 1, 5, 4]},
 {'Institute': [68, 35, 37, 38, 39], 'round': [2, 1, 4, 5, 3]},
 {'Institute': [58, 133, 50, 37, 38], 'round': [3, 5, 4, 1, 2]},
 {'Institute': [68, 62, 50, 37, 38], 'round': [1, 6, 4, 3, 2]},
 {'Institute': [99, 59, 42, 48, 47], 'round': [1, 6, 2, 3, 5]},
 {'Institute': [68, 99, 63, 94, 52], 'round': [1, 4, 3, 6, 2]},
 {'Institute': [98, 63, 81, 111, 99], 'round': [1, 5, 4, 3, 2]},
 {'Institute': [59, 133, 50, 37, 38], 'round': [3, 5, 6, 2, 4]},
 {'Institute': [99, 116, 81, 111, 63], 'round': [1, 3, 4, 6, 5]},
 {'Institute': [68, 45, 63, 94, 133], 'round': [1, 2, 6, 3, 5]},
 {'Institute': [132, 64, 116, 94, 63], 'round': [1, 4, 2, 3, 5]},
 {'Institute': [84, 65, 35, 37, 38], 'round': [1, 6, 2, 4, 5]},
 {'Institute': [116, 99, 57, 58, 49], 'round': [2, 6, 5, 3, 4]},
 {'Institute': [51, 45, 35, 37, 38], 'round': [2, 4, 3, 5, 1]},
 {'Institute': [64, 57, 48, 133, 43], 'round': [4, 1, 2, 5, 3]},
 {'Institute': [65, 133, 50, 37, 38], 'round': [4, 5, 6, 2, 1]},
 {'Institute': [65, 133, 50, 37, 38], 'round': [5, 2, 4, 1, 6]},
 {'Institute': [68, 114, 64, 60, 133], 'round': [1, 3, 2, 4, 6]},
 {'Institute': [116, 50, 36, 37, 38], 'round': [1, 5, 2, 3, 6]},
 {'Institute': [62, 133, 50, 37, 38], 'round': [5, 2, 3, 4, 6]},
 {'Institute': [49, 84, 48, 31, 69], 'round': [1, 5, 3, 2, 6]},
 {'Institute': [51, 59, 104, 133, 42], 'round': [5, 2, 3, 4, 1]},
 {'Institute': [63, 133, 50, 37, 38], 'round': [4, 6, 2, 1, 5]},
 {'Institute': [132, 50, 36, 37, 38], 'round': [4, 2, 3, 5, 1]},
 {'Institute': [61, 132, 53, 57, 84], 'round': [6, 4, 1, 5, 3]},
 {'Institute': [82, 51, 99, 48, 64], 'round': [6, 2, 4, 5, 1]},
 {'Institute': [132, 49, 50, 36, 37], 'round': [1, 6, 5, 2, 3]},
 {'Institute': [111, 62, 102, 99, 41], 'round': [5, 1, 2, 6, 4]},
 {'Institute': [51, 35, 37, 38, 39], 'round': [1, 6, 4, 5, 2]},
 {'Institute': [66, 84, 81, 44, 49], 'round': [2, 1, 6, 3, 4]},
 {'Institute': [52, 59, 82, 19, 53], 'round': [6, 3, 2, 5, 4]},
 {'Institute': [19, 84, 133, 37, 38], 'round': [1, 6, 3, 5, 2]},
 {'Institute': [111, 68, 67, 48, 61], 'round': [1, 2, 3, 6, 4]},
 {'Institute': [68, 49, 53, 57, 111], 'round': [2, 1, 3, 6, 4]},
 {'Institute': [63, 52, 133, 43, 48], 'round': [3, 1, 5, 2, 6]},
 {'Institute': [63, 133, 50, 37, 38], 'round': [3, 5, 6, 2, 4]},
 {'Institute': [57, 99, 64, 49, 63], 'round': [6, 1, 5, 4, 2]},
 {'Institute': [83, 108, 56, 99, 47], 'round': [4, 2, 5, 6, 1]},
 {'Institute': [96, 98, 63, 1, 133], 'round': [6, 1, 3, 5, 2]},
 {'Institute': [124, 48, 42, 47, 46], 'round': [1, 6, 2, 3, 5]},
 {'Institute': [84, 63, 133, 37, 38], 'round': [4, 5, 3, 2, 1]},
 {'Institute': [59, 133, 50, 37, 38], 'round': [3, 4, 1, 6, 2]},
 {'Institute': [19, 3, 56, 63, 68], 'round': [6, 2, 4, 3, 1]},
 {'Institute': [108, 132, 50, 37, 38], 'round': [4, 3, 2, 5, 1]},
 {'Institute': [67, 54, 66, 48, 2], 'round': [3, 5, 4, 2, 6]},
 {'Institute': [81, 133, 50, 37, 38], 'round': [6, 4, 5, 2, 3]},
 {'Institute': [83, 52, 63, 102, 43], 'round': [4, 3, 6, 5, 2]},
 {'Institute': [58, 48, 133, 50, 37], 'round': [5, 2, 3, 4, 1]},
 {'Institute': [68, 55, 99, 53, 63], 'round': [1, 5, 6, 4, 2]},
 {'Institute': [81, 102, 84, 51, 133], 'round': [1, 2, 6, 4, 3]},
 {'Institute': [53, 99, 43, 48, 47], 'round': [3, 5, 1, 4, 2]},
 {'Institute': [58, 48, 104, 36, 37], 'round': [1, 3, 4, 5, 2]},
 {'Institute': [52, 81, 99, 43, 47], 'round': [1, 4, 5, 2, 3]},
 {'Institute': [64, 99, 42, 48, 47], 'round': [4, 3, 2, 6, 5]},
 {'Institute': [57, 133, 50, 37, 38], 'round': [6, 1, 4, 2, 5]},
 {'Institute': [61, 63, 48, 111, 68], 'round': [1, 5, 4, 2, 6]},
 {'Institute': [104, 133, 49, 36, 37], 'round': [5, 6, 4, 2, 3]},
 {'Institute': [132, 99, 1, 2, 37], 'round': [3, 2, 6, 4, 5]},
 {'Institute': [108, 99, 49, 36, 37], 'round': [1, 2, 6, 4, 3]},
 {'Institute': [57, 3, 69, 63, 68], 'round': [1, 3, 2, 4, 6]},
 {'Institute': [63, 133, 50, 37, 38], 'round': [6, 5, 2, 3, 4]},
 {'Institute': [84, 58, 133, 37, 38], 'round': [6, 1, 5, 4, 2]},
 {'Institute': [81, 95, 133, 43, 48], 'round': [1, 4, 2, 3, 6]},
 {'Institute': [82, 128, 133, 44, 49], 'round': [5, 6, 2, 4, 3]},
 {'Institute': [104, 62, 133, 42, 47], 'round': [6, 2, 4, 5, 1]},
 {'Institute': [57, 53, 132, 114, 99], 'round': [1, 2, 4, 6, 3]},
 {'Institute': [111, 3, 133, 43, 48], 'round': [1, 6, 5, 2, 4]},
 {'Institute': [58, 98, 81, 36, 37], 'round': [1, 5, 3, 6, 2]},
 {'Institute': [63, 53, 128, 94, 81], 'round': [1, 2, 4, 3, 5]},
 {'Institute': [51, 35, 37, 38, 39], 'round': [6, 4, 2, 1, 3]},
 {'Institute': [48, 108, 133, 49, 36], 'round': [6, 2, 3, 4, 5]},
 {'Institute': [68, 108, 133, 43, 48], 'round': [5, 4, 2, 6, 3]},
 {'Institute': [81, 116, 132, 108, 49], 'round': [5, 6, 3, 4, 2]},
 {'Institute': [64, 63, 57, 52, 133], 'round': [3, 2, 4, 5, 1]},
 {'Institute': [62, 58, 133, 48, 47], 'round': [1, 5, 4, 6, 3]},
 {'Institute': [69, 133, 50, 37, 38], 'round': [3, 5, 4, 1, 6]},
 {'Institute': [108, 133, 49, 36, 37], 'round': [4, 5, 2, 3, 1]},
 {'Institute': [116, 94, 124, 133, 42], 'round': [1, 6, 5, 2, 4]},
 {'Institute': [96, 63, 50, 114, 48], 'round': [1, 4, 6, 3, 5]},
 {'Institute': [51, 35, 37, 38, 39], 'round': [5, 4, 6, 2, 1]},
 {'Institute': [116, 66, 55, 132, 49], 'round': [1, 2, 5, 3, 4]},
 {'Institute': [48, 133, 35, 37, 38], 'round': [4, 5, 6, 3, 2]},
 {'Institute': [63, 111, 133, 42, 47], 'round': [2, 4, 5, 3, 6]},
 {'Institute': [69, 106, 11, 43, 48], 'round': [1, 6, 5, 4, 3]},
 {'Institute': [81, 64, 94, 31, 1], 'round': [6, 1, 3, 4, 2]},
 {'Institute': [57, 48, 19, 67, 49], 'round': [4, 1, 2, 5, 6]},
 {'Institute': [107, 59, 48, 47, 46], 'round': [3, 4, 5, 2, 6]},
 {'Institute': [108, 56, 133, 47, 46], 'round': [3, 5, 6, 4, 2]},
 {'Institute': [81, 107, 51, 3, 104], 'round': [1, 3, 5, 2, 4]},
 {'Institute': [94, 11, 133, 43, 48], 'round': [3, 1, 5, 2, 4]},
 {'Institute': [116, 11, 96, 133, 44], 'round': [6, 1, 4, 2, 3]},
 {'Institute': [107, 75, 48, 47, 46], 'round': [6, 1, 5, 4, 2]},
 {'Institute': [66, 124, 111, 36, 37], 'round': [2, 3, 4, 5, 6]},
 {'Institute': [114, 132, 68, 37, 38], 'round': [5, 2, 6, 3, 4]},
 {'Institute': [49, 48, 66, 35, 37], 'round': [6, 5, 1, 3, 4]},
 {'Institute': [81, 63, 133, 43, 48], 'round': [6, 4, 2, 5, 3]},
 {'Institute': [81, 49, 133, 50, 37], 'round': [6, 5, 4, 2, 1]},
 {'Institute': [106, 133, 49, 36, 37], 'round': [3, 2, 6, 4, 1]},
 {'Institute': [11, 133, 44, 49, 48], 'round': [4, 2, 5, 6, 3]},
 {'Institute': [99, 52, 43, 48, 47], 'round': [3, 5, 2, 4, 1]},
 {'Institute': [64, 19, 133, 44, 49], 'round': [3, 5, 6, 4, 1]},
 {'Institute': [116, 108, 94, 42, 47], 'round': [1, 6, 2, 3, 5]},
 {'Institute': [132, 116, 58, 124, 37], 'round': [1, 2, 3, 4, 5]},
 {'Institute': [116, 50, 36, 37, 38], 'round': [6, 2, 4, 3, 5]},
 {'Institute': [48, 116, 96, 50, 37], 'round': [5, 4, 1, 3, 6]},
 {'Institute': [60, 49, 116, 37, 38], 'round': [1, 4, 2, 5, 3]},
 {'Institute': [124, 107, 48, 94, 114], 'round': [5, 1, 4, 3, 6]},
 {'Institute': [59, 62, 42, 48, 47], 'round': [1, 3, 2, 6, 4]},
 {'Institute': [69, 116, 65, 58, 64], 'round': [2, 5, 4, 6, 3]},
 {'Institute': [104, 97, 50, 63, 62], 'round': [1, 2, 6, 3, 5]},
 {'Institute': [45, 63, 133, 50, 37], 'round': [3, 4, 6, 5, 2]},
 {'Institute': [84, 133, 35, 37, 38], 'round': [3, 6, 5, 2, 1]},
 {'Institute': [58, 1, 51, 49, 48], 'round': [5, 4, 3, 1, 2]},
 {'Institute': [124, 82, 43, 49, 48], 'round': [1, 6, 2, 3, 5]},
 {'Institute': [66, 132, 65, 49, 36], 'round': [5, 6, 2, 4, 3]},
 {'Institute': [62, 133, 50, 37, 38], 'round': [4, 2, 5, 6, 1]},
 {'Institute': [64, 51, 116, 49, 43], 'round': [3, 2, 6, 1, 5]},
 {'Institute': [57, 132, 43, 48, 47], 'round': [1, 2, 5, 3, 6]},
 {'Institute': [98, 35, 36, 37, 38], 'round': [6, 5, 2, 3, 1]},
 {'Institute': [65, 132, 82, 64, 63], 'round': [1, 2, 4, 3, 6]},
 {'Institute': [19, 65, 96, 37, 38], 'round': [4, 5, 6, 3, 1]},
 {'Institute': [122, 102, 11, 133, 48], 'round': [4, 5, 3, 6, 2]},
 {'Institute': [48, 65, 60, 57, 49], 'round': [5, 6, 1, 2, 3]},
 {'Institute': [111, 34, 124, 43, 48], 'round': [1, 4, 5, 3, 2]},
 {'Institute': [116, 50, 36, 37, 38], 'round': [4, 2, 5, 6, 3]},

In [105]:
le_institute.inverse_transform(top_n_predictions[0]['Institute'])

array([  3, 104,  81,  54, 133])

In [111]:
final_df["Seat Type"].value_counts()

Seat Type
OPEN             91515
SC               84322
OBC-NCL          83733
ST               74561
EWS              56312
OPEN (PwD)       29806
OBC-NCL (PwD)    14845
SC (PwD)          3573
EWS (PwD)         3283
ST (PwD)          1338
Name: count, dtype: int64

In [112]:
import numpy as np
import pandas as pd
from joblib import load


# Define the rank and other input features
rank = 2335
gender = 'Neutral'  # Example gender, adjust as needed
seat_type = 'OPEN'  # Example seat type, adjust as needed

# Create a DataFrame with the input features
input_data = pd.DataFrame({
    'Opening Rank': [rank],
    'Gender': [gender],
    'Seat Type': [seat_type]
})

In [113]:
predictions = model.predict(input_data)

In [114]:
predictions

array([[51,  1]], dtype=int64)

In [115]:
predicted_institutes = predictions[0][0]
predicted_rounds = predictions[0][1]

print("Predicted Institutes:", predicted_institutes)
print("Predicted Rounds:", predicted_rounds)

Predicted Institutes: 51
Predicted Rounds: 1

In [118]:
le_institute.inverse_transform([predicted_institutes])

array([51])

In [119]:
final_df["Institute"].value_counts()

Institute
111    18045
63     16572
104    11591
116    11269
94     10914
       ...
42        72
21        63
41        62
90        35
18        30
Name: count, Length: 134, dtype: int64

In [120]:
df=pickle.load(open("data_v1.pkl","rb"))

In [123]:
len(df["Institute"])

443288

In [124]:
len(final_df["Institute"])

443288

In [ ]:
final_df["Institute"]=